<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles pedidos</title>
</head>
<body>
    <h1>Detalles de pedidos</h1>
    <ul>
        {% for detalle in page_obj %}
            <li>Pedido: {{ detalle.pedido.id }} - Producto: {{ detalle.producto.nombre }} - Cantidad: {{ detalle.cantidad }}</li>
        {% endfor %}
    </ul>

    <!-- boton de crear detalle pedido -->
    <a href="{% url 'tienda:nuevo_detalle_pedido' %}">Crear nuevo detalle de pedido</a>
    
</body>
</html>